# Created with package:mono_repo v6.6.1
name: Dart CI
on:
  push:
    branches:
      - main
      - master
  pull_request:
defaults:
  run:
    shell: bash
env:
  PUB_ENVIRONMENT: bot.github
permissions: read-all

jobs:
  job_001:
    name: mono_repo self validate
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@704facf57e6136b1bc63b828d79edcd491f0ee84
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:stable"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@b64355ae6ca0b5d484f0106a033dd1388965d06d
        with:
          sdk: stable
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      - name: mono_repo self validate
        run: dart pub global activate mono_repo 6.6.1
      - name: mono_repo self validate
        run: dart pub global run mono_repo generate --validate
  job_002:
    name: "analyze_and_format; linux; Dart 3.5.0-259.0.dev; PKGS: pkgs/dart_model, tool/dart_model_generator; `dart analyze --fatal-infos .`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@704facf57e6136b1bc63b828d79edcd491f0ee84
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:3.5.0-259.0.dev;packages:pkgs/dart_model-tool/dart_model_generator;commands:analyze"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;sdk:3.5.0-259.0.dev;packages:pkgs/dart_model-tool/dart_model_generator
            os:ubuntu-latest;pub-cache-hosted;sdk:3.5.0-259.0.dev
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@b64355ae6ca0b5d484f0106a033dd1388965d06d
        with:
          sdk: "3.5.0-259.0.dev"
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      - id: pkgs_dart_model_pub_upgrade
        name: pkgs/dart_model; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: pkgs/dart_model
      - name: "pkgs/dart_model; dart analyze --fatal-infos ."
        run: dart analyze --fatal-infos .
        if: "always() && steps.pkgs_dart_model_pub_upgrade.conclusion == 'success'"
        working-directory: pkgs/dart_model
      - id: tool_dart_model_generator_pub_upgrade
        name: tool/dart_model_generator; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: tool/dart_model_generator
      - name: "tool/dart_model_generator; dart analyze --fatal-infos ."
        run: dart analyze --fatal-infos .
        if: "always() && steps.tool_dart_model_generator_pub_upgrade.conclusion == 'success'"
        working-directory: tool/dart_model_generator
  job_003:
    name: "analyze_and_format; linux; Dart dev; PKGS: pkgs/dart_model, tool/dart_model_generator; `dart analyze --fatal-infos .`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@704facf57e6136b1bc63b828d79edcd491f0ee84
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:dev;packages:pkgs/dart_model-tool/dart_model_generator;commands:analyze"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;sdk:dev;packages:pkgs/dart_model-tool/dart_model_generator
            os:ubuntu-latest;pub-cache-hosted;sdk:dev
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@b64355ae6ca0b5d484f0106a033dd1388965d06d
        with:
          sdk: dev
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      - id: pkgs_dart_model_pub_upgrade
        name: pkgs/dart_model; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: pkgs/dart_model
      - name: "pkgs/dart_model; dart analyze --fatal-infos ."
        run: dart analyze --fatal-infos .
        if: "always() && steps.pkgs_dart_model_pub_upgrade.conclusion == 'success'"
        working-directory: pkgs/dart_model
      - id: tool_dart_model_generator_pub_upgrade
        name: tool/dart_model_generator; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: tool/dart_model_generator
      - name: "tool/dart_model_generator; dart analyze --fatal-infos ."
        run: dart analyze --fatal-infos .
        if: "always() && steps.tool_dart_model_generator_pub_upgrade.conclusion == 'success'"
        working-directory: tool/dart_model_generator
  job_004:
    name: "analyze_and_format; linux; Dart dev; PKGS: pkgs/dart_model, tool/dart_model_generator; `dart format --output=none --set-exit-if-changed .`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@704facf57e6136b1bc63b828d79edcd491f0ee84
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:dev;packages:pkgs/dart_model-tool/dart_model_generator;commands:format"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;sdk:dev;packages:pkgs/dart_model-tool/dart_model_generator
            os:ubuntu-latest;pub-cache-hosted;sdk:dev
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@b64355ae6ca0b5d484f0106a033dd1388965d06d
        with:
          sdk: dev
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      - id: pkgs_dart_model_pub_upgrade
        name: pkgs/dart_model; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: pkgs/dart_model
      - name: "pkgs/dart_model; dart format --output=none --set-exit-if-changed ."
        run: "dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.pkgs_dart_model_pub_upgrade.conclusion == 'success'"
        working-directory: pkgs/dart_model
      - id: tool_dart_model_generator_pub_upgrade
        name: tool/dart_model_generator; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: tool/dart_model_generator
      - name: "tool/dart_model_generator; dart format --output=none --set-exit-if-changed ."
        run: "dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.tool_dart_model_generator_pub_upgrade.conclusion == 'success'"
        working-directory: tool/dart_model_generator
  job_005:
    name: "unit_test; linux; Dart 3.5.0-259.0.dev; PKG: pkgs/dart_model; `dart test --test-randomize-ordering-seed=random`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@704facf57e6136b1bc63b828d79edcd491f0ee84
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:3.5.0-259.0.dev;packages:pkgs/dart_model;commands:test"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;sdk:3.5.0-259.0.dev;packages:pkgs/dart_model
            os:ubuntu-latest;pub-cache-hosted;sdk:3.5.0-259.0.dev
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@b64355ae6ca0b5d484f0106a033dd1388965d06d
        with:
          sdk: "3.5.0-259.0.dev"
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      - id: pkgs_dart_model_pub_upgrade
        name: pkgs/dart_model; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: pkgs/dart_model
      - name: "pkgs/dart_model; dart test --test-randomize-ordering-seed=random"
        run: "dart test --test-randomize-ordering-seed=random"
        if: "always() && steps.pkgs_dart_model_pub_upgrade.conclusion == 'success'"
        working-directory: pkgs/dart_model
    needs:
      - job_001
      - job_002
      - job_003
      - job_004
  job_006:
    name: "unit_test; linux; Dart 3.5.0-259.0.dev; PKG: tool/dart_model_generator; `dart test --test-randomize-ordering-seed=random`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@704facf57e6136b1bc63b828d79edcd491f0ee84
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:3.5.0-259.0.dev;packages:tool/dart_model_generator;commands:test"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;sdk:3.5.0-259.0.dev;packages:tool/dart_model_generator
            os:ubuntu-latest;pub-cache-hosted;sdk:3.5.0-259.0.dev
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@b64355ae6ca0b5d484f0106a033dd1388965d06d
        with:
          sdk: "3.5.0-259.0.dev"
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      - id: tool_dart_model_generator_pub_upgrade
        name: tool/dart_model_generator; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: tool/dart_model_generator
      - name: "tool/dart_model_generator; dart test --test-randomize-ordering-seed=random"
        run: "dart test --test-randomize-ordering-seed=random"
        if: "always() && steps.tool_dart_model_generator_pub_upgrade.conclusion == 'success'"
        working-directory: tool/dart_model_generator
    needs:
      - job_001
      - job_002
      - job_003
      - job_004
  job_007:
    name: "unit_test; linux; Dart dev; PKG: pkgs/dart_model; `dart test --test-randomize-ordering-seed=random`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@704facf57e6136b1bc63b828d79edcd491f0ee84
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:dev;packages:pkgs/dart_model;commands:test"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;sdk:dev;packages:pkgs/dart_model
            os:ubuntu-latest;pub-cache-hosted;sdk:dev
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@b64355ae6ca0b5d484f0106a033dd1388965d06d
        with:
          sdk: dev
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      - id: pkgs_dart_model_pub_upgrade
        name: pkgs/dart_model; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: pkgs/dart_model
      - name: "pkgs/dart_model; dart test --test-randomize-ordering-seed=random"
        run: "dart test --test-randomize-ordering-seed=random"
        if: "always() && steps.pkgs_dart_model_pub_upgrade.conclusion == 'success'"
        working-directory: pkgs/dart_model
    needs:
      - job_001
      - job_002
      - job_003
      - job_004
  job_008:
    name: "unit_test; linux; Dart dev; PKG: tool/dart_model_generator; `dart test --test-randomize-ordering-seed=random`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@704facf57e6136b1bc63b828d79edcd491f0ee84
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;sdk:dev;packages:tool/dart_model_generator;commands:test"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;sdk:dev;packages:tool/dart_model_generator
            os:ubuntu-latest;pub-cache-hosted;sdk:dev
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@b64355ae6ca0b5d484f0106a033dd1388965d06d
        with:
          sdk: dev
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      - id: tool_dart_model_generator_pub_upgrade
        name: tool/dart_model_generator; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: tool/dart_model_generator
      - name: "tool/dart_model_generator; dart test --test-randomize-ordering-seed=random"
        run: "dart test --test-randomize-ordering-seed=random"
        if: "always() && steps.tool_dart_model_generator_pub_upgrade.conclusion == 'success'"
        working-directory: tool/dart_model_generator
    needs:
      - job_001
      - job_002
      - job_003
      - job_004
  job_009:
    name: "unit_test; windows; Dart 3.5.0-259.0.dev; PKG: pkgs/dart_model; `dart test --test-randomize-ordering-seed=random`"
    runs-on: windows-latest
    steps:
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@b64355ae6ca0b5d484f0106a033dd1388965d06d
        with:
          sdk: "3.5.0-259.0.dev"
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      - id: pkgs_dart_model_pub_upgrade
        name: pkgs/dart_model; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: pkgs/dart_model
      - name: "pkgs/dart_model; dart test --test-randomize-ordering-seed=random"
        run: "dart test --test-randomize-ordering-seed=random"
        if: "always() && steps.pkgs_dart_model_pub_upgrade.conclusion == 'success'"
        working-directory: pkgs/dart_model
    needs:
      - job_001
      - job_002
      - job_003
      - job_004
  job_010:
    name: "unit_test; windows; Dart 3.5.0-259.0.dev; PKG: tool/dart_model_generator; `dart test --test-randomize-ordering-seed=random`"
    runs-on: windows-latest
    steps:
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@b64355ae6ca0b5d484f0106a033dd1388965d06d
        with:
          sdk: "3.5.0-259.0.dev"
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      - id: tool_dart_model_generator_pub_upgrade
        name: tool/dart_model_generator; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: tool/dart_model_generator
      - name: "tool/dart_model_generator; dart test --test-randomize-ordering-seed=random"
        run: "dart test --test-randomize-ordering-seed=random"
        if: "always() && steps.tool_dart_model_generator_pub_upgrade.conclusion == 'success'"
        working-directory: tool/dart_model_generator
    needs:
      - job_001
      - job_002
      - job_003
      - job_004
  job_011:
    name: "unit_test; windows; Dart dev; PKG: pkgs/dart_model; `dart test --test-randomize-ordering-seed=random`"
    runs-on: windows-latest
    steps:
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@b64355ae6ca0b5d484f0106a033dd1388965d06d
        with:
          sdk: dev
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      - id: pkgs_dart_model_pub_upgrade
        name: pkgs/dart_model; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: pkgs/dart_model
      - name: "pkgs/dart_model; dart test --test-randomize-ordering-seed=random"
        run: "dart test --test-randomize-ordering-seed=random"
        if: "always() && steps.pkgs_dart_model_pub_upgrade.conclusion == 'success'"
        working-directory: pkgs/dart_model
    needs:
      - job_001
      - job_002
      - job_003
      - job_004
  job_012:
    name: "unit_test; windows; Dart dev; PKG: tool/dart_model_generator; `dart test --test-randomize-ordering-seed=random`"
    runs-on: windows-latest
    steps:
      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@b64355ae6ca0b5d484f0106a033dd1388965d06d
        with:
          sdk: dev
      - id: checkout
        name: Checkout repository
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      - id: tool_dart_model_generator_pub_upgrade
        name: tool/dart_model_generator; dart pub upgrade
        run: dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: tool/dart_model_generator
      - name: "tool/dart_model_generator; dart test --test-randomize-ordering-seed=random"
        run: "dart test --test-randomize-ordering-seed=random"
        if: "always() && steps.tool_dart_model_generator_pub_upgrade.conclusion == 'success'"
        working-directory: tool/dart_model_generator
    needs:
      - job_001
      - job_002
      - job_003
      - job_004
